@use "sass:math";

.footer {
  // .footer__container

  &__container {
  }

  // .footer__body

  &__body {
    border-top: 1px solid #d8d8d8;
    display: grid;
    grid-template-columns: 250px 1fr 290px;
    @include adaptiv-value('padding-top', 80, 30, 1);
    @include adaptiv-value('padding-bottom', 60, 30, 1);
    @include adaptiv-value('column-gap', 80, 0, 1);
  }

  // .footer__main

  &__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  // .footer__logo

  &__logo {
    margin: 0 0 16px/24px * 1em 0;
  }

  // .footer__text

  &__text {
    color: $grayColor;
    line-height: 150%;
    &:not(:last-child) {
      margin: 0 0 1em 0;
    }
  }

  // .footer__contacts

  &__contacts {
  }

  // .footer__menu

  &__menu {
  }

  // .footer__subscribe

  &__subscribe {
  }
}

.contacts-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // .contacts-footer__item

  &__item {
    display: inline-flex;
    align-items: center;
    line-height: 150%;
    color: $grayColor;
    transition: color 0.3s ease 0s;
    &::before {
      margin: 0 8px 0 0;
    }
    &:not(:last-child) {
      @include adaptiv-value('margin-bottom', 16, 10, 1);
    }
    @media (any-hover: hover) {
      &:hover {
        color: $orangeColor;
      }
    }
  }
}
.menu-footer {
  @media (min-width: $md3+px) {
    display: flex;
  }
  // .menu-footer__column

  &__column {
    @media (min-width: $md3+px) {
      flex: 0 1 33.333%;
    }
  }

  // .menu-footer__title

  &__title {
    cursor: default;
    margin: 0 0 16px/24px * 1em 0;
  }

  // .menu-footer__list

  &__list {
    li {
      &:not(:last-child) {
        margin: 0 0 15px 0;
      }
    }
  }

  // .menu-footer__link

  &__link {
    color: $darkGrayColor;
    transition: color 0.3s ease 0s;
    line-height: 120%;
    font-weight: 500;
    @media (any-hover: hover) {
      &:hover {
        color: $orangeColor;
      }
    }
  }
}
.subscribe {
  // .subscribe__title

  &__title {
  }

  // .subscribe__form

  &__form {
  }

  // .subscribe__input

  &__input {
  }

  // .subscribe__button

  &__button {
  }
}
